.Cockpit button {
    border: blue 3px solid;
    padding: 16px;
    background-color: green;
}

.Cockpit button:hover {
    background-color: lightgreen;
    color:black;
}


.Cockpit button.Red {
    border: blue 3px solid;
    padding: 16px;
    background-color: red;
}

.Cockpit button.Red:hover {
    background-color: salmon;
    color:black;
}